/CadastroProdutos/nbproject/private/
/CadastroProdutos/build/
/Test/nbproject/private/
/teste/nbproject/private/
/ProductManagementApp/nbproject/private/
/ProductManagementApp/build/
/Teste/nbproject/private/
/Teste/build
/Teste/dist/
/CadastroProdutos/dist/
/PrimeiroProjeto/nbproject/private/
/PrimeiroProjeto/build/
/ScreenMatch/nbproject/private/
